body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  color: #213547;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
